body{
    background:url(background/3.jpg) ;
    background-position: center;
    background-size: cover;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
div img{
    width: 85px;
    margin: 20px;
    animation-name: slide;
    animation-duration: 3s;
}
h1{
    text-align: center;
}
p{
    margin-left:50px;
}
button{
    margin-top: 80px;
    margin-left: -100px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: hsl(69, 100%, 76%);
    color: rgb(0, 0, 0);
}
button:active{
    background-color: yellow;
}
input{
    width: 50vh;
    height: 20vh;
    margin-left: 38%;
}
@keyframes slide{
    from{transform: translateX(800px);}
}
#button{
    margin-left:45% ;
    background-color: black;
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
}