body{
    background:url(background/3.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}
h1{
    color: hsl(0, 0%, 0%);
    text-align: center;
}
button{
    margin-top: 10%;
    margin-left: 40%;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 15px;
    transition-duration: 1s;
    font-size: 1.5em;
    background: aquamarine;
}
button:hover{
    background-color:aqua;
    cursor: pointer;
    box-shadow: 3px 3px 5px black;
}
.food{
    width: 70px;
    height: 25px;
    animation-name: slide;
    animation-duration: 4s;
}
@keyframes slide{
    from{transform: translateX(1000px)}
}